@import "tailwindcss";

/* Impede o zoom automático em campos de formulário no foco */
@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

/* Garante que o formulário não ultrapasse a largura da tela */
body {
  overflow-x: hidden;
  touch-action: manipulation;
}
